body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    background-color: #f4f4f4;
    /* background: linear-gradient(22deg, rgba(111, 0, 255, 0.7287115529805672) 0%, rgba(134, 80, 4, 0.8351541300113796) 13%, rgba(43, 39, 94, 0.8547619731486344) 71%); */
    text-align: center;
    line-height: 32px;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    color: #111111;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    background-repeat: no-repeat;
}

section {
    text-align: center;
    padding: 90px 0;
    margin: 0 auto;
}

.section_title {
    text-align: center;
}


/* .section_title {
    text-align: center;
     margin-bottom: 100px; 
} */

header nav i {
    font-size: 70px;
    color: #BB0C2B;
}

header nav i:hover {
    color: #f4f4f4;
    transition: 0.4s all ease-in-out;
}

header {
    /* background-color: #373333; */
}

header nav {
    max-width: 1200px;
    text-align: left;
    margin: 0 auto;
}

header nav ul {
    display: flex;
    list-style: none;
    float: right;
    margin-top: 15px;
}

header nav ul i {
    position: relative;
    top: 1.5px;
}

header nav ul li {
    padding: 0 25px;
}

header nav ul li a {
    color: #f4f4f4;
    text-decoration: none;
    padding: 5px 0;
    position: relative;
    display: block;
    transition: 0.4s all ease;
}

header nav ul li:hover a {
    color: #BB0C2B;
}

header nav ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #BB0C2B;
    transition: 0.4s all ease;
}

header nav ul li:hover a:after {
    width: 100%;
}


/* ------------- About section ------------------ */

.about .section_style {
    text-align: center;
    display: grid;
    grid-template-rows: 150px 60px 225px 50px;
    grid-template-columns: 700px 100px;
}

.about h2 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 4;
}

.about h3 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
}

.about img {
    max-width: 500px;
    border-radius: 8px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
}

.about p {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
}

.about button {}

a {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 1;
}

path {
    stroke-dasharray: 390px;
    stroke-dashoffset: 390px;
    animation: text 4s ease Infinite;
}

@keyframes text {
    to {
        stroke-dashoffset: 0;
    }
}


/* ------------- counter section --------------- */

.counter {
    max-width: 100%;
    max-height: 150px;
    background: #111111;
    padding: 0;
}

.counter ul {
    text-align: center;
    max-width: 1200px;
    max-height: 125px;
    margin: 0 auto;
    padding: 0;
    display: flex;
}

.counter ul li {
    flex: 1;
    list-style: none;
    font-family: 'Montserrat';
    text-align: center;
    color: #BB0C2B;
    padding: 20px 0;
    border-right: 0.5px solid rgb(158, 149, 149);
}

.counter ul li:last-child {
    border-right: 0.5px solid rgb(158, 149, 149);
}

.counter ul li:first-child {
    border-left: 0.5px solid rgb(158, 149, 149);
}

.counter_up ul li span {
    font-size: 50px;
    font-weight: 800;
    padding-bottom: 28px;
}

.counter_up ul li p {
    font-size: 20px;
    font-weight: 600;
    font-size: 14px;
}


/*-------------------------- schedule section ---------------------- */

.service {
    position: relative;
    max-width: 1200px;
    text-align: center;
    display: grid;
    grid-template-rows: 150px auto auto auto;
    grid-template-columns: auto auto;
    justify-content: space-around;
    margin: 0 auto;
}

.service div {
    padding: 10px;
    border: 2px solid #b4b4b4;
    border-radius: 25px;
    background-color: #d4d4d4;
    margin-inline: 10px;
}

.service div:hover {
    padding: 10px;
    border: 2px solid #d4d4d4;
    border-radius: 25px;
    background-color: #E4e4e4;
    margin-inline: 10px;
    box-shadow: 0 8px 12px 0 rgba(180, 154, 154, 0.2)
}

.service #title {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 5;
}

.service .timeline {
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 2;
}

.service .timeline img {
    max-width: 300px;
    border-radius: 5px;
}

.service .timeline label {
    border: 1px solid #333333;
    border-radius: 50%;
    width: 32px;
    display: inline-block;
}